@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$inter: 'Inter', sans-serif;
$white:#fff;
$black85: rgba(0, 0, 0, 0.85);
$black75: rgba(0, 0, 0, 0.75);
$black50: rgba(0, 0, 0, 0.5);
$btn-green:#52C41A;
$btn-blue: #0d52ab;

$text-blue:#1890FF;

$light-blue:#EBEEF3;